body {
  font-family: var(--body-font);
}

code {}

pre code {}

a {}

a:hover,
a:focus {}

iframe {}

article { max-width: 70ch; }

article h1 {}

article ul,
article ol {}

article ul {}

article ol {}

p {}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

h1 {}

h1 + * {}

h2 {}

h3 {}

h4 {}

.direct-link {
  margin-left: -17px;
}

blockquote {}

blockquote > * {}

blockquote p {
  display: inline;
}

blockquote:before {}
