@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Fira Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/fira-mono-v14-latin-regular.woff2") format("woff2");
}

::selection {
    @apply bg-primary text-white;
}

html {
    font-size: 120%;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Mono", monospace;
    font-weight: 800;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

a {
    @apply !decoration-primary;
}

a:hover,
a:focus {
    @apply text-primary;
}

particle {
    @apply bg-primary;
}

.nav-active {
    text-decoration: underline;
    @apply text-primary;
}

.post-list-item {
    content-visibility: auto;
    contain-intrinsic-size: auto 500px;
}

.photo-page {
    content-visibility: auto;
    contain-intrinsic-size: auto 316px;
}

.thumbnail-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    @apply rounded-lg;
}

.thumbnail-container::after {
    content: "";
    display: block;
    position: absolute;
    top: -200%;
    left: -200%;
    border-radius: 50%;
    width: 300%;
    height: 300%;
    opacity: 0.2;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 1));
}

.thumbnail-container img {
    @apply block h-full w-full rounded-lg object-cover;
}

.tmpl-photo {
    @apply text-secondary bg-slate-300;
}

.tmpl-photo .nav-active,
.tmpl-photo a:hover,
.tmpl-photo a:focus {
    @apply text-primary;
}

.tmpl-photo figure img {
    @apply mx-auto;
}

/*
    Posts
*/

.tmpl-post iframe {
    max-width: 100%;
}

/*
  Custom helpers
 */

.text-wrap-balance {
    text-wrap: balance;
}

/*
  Headers
*/

/* Checkmark */
.checkmark-header__svg {
    animation: reveal-checkbox ease 0.5s forwards;
}

@keyframes reveal-checkbox {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@media (max-width: 1024px) {
    .checkmark-header__svg:nth-child(even) {
        display: none;
    }
}

@media (min-width: 1000px) {
    .prose pre[class^="language"] {
        margin-left: -120px;
        margin-right: -120px;
    }

    .prose picture {
        margin-left: -50px;
        margin-right: -50px;
    }
}
