<form action="https://buttondown.email/api/emails/embed-subscribe/teej"
      method="post"
      target="popupwindow"
      class="c-form">
  <h3 class="c-form__title">Sign up to the newsletter</h3>
  <p>
    Get notified when I post a new article, or you can subscribe to the <a class="c-form__link" href="/index.xml">RSS feed</a> if that's more your jam.
  </p>
  <label class="c-form__label" for="email">Email</label>
  <input class="c-form__input"
         id="email"
         required
         type="email"
         name="email"
         placeholder="you@example.com" />
  <input type="hidden" value="1" name="embed" />
  <button type="submit" class="c-button c-form__button">Subscribe</button>
  <p>
    <a href="https://buttondown.email" target="_blank" class="c-form__link">Powered by Buttondown.</a>
  </p>
</form>
