{% if postslistYears === 'off' %}
<ol>
{% endif %}

{% set year = '' %}
  {% for post in postslist | reverse %}
    {% set postYear = post.date | year %}
    {% set isNewYear = year !== postYear %}
    {% if isNewYear and postslistYears !== 'off' %}

    {# this reminds me of working with ExpressionEngine #}
    {% if not loop.first %}
    </ol>
    </div>
    {% endif %}

    <div>
    <div>
      <h2>{{ postYear }}</h2>
    </div>

    <ol>
      {% set year = postYear %}
    {% endif %}
    <li
      class="
        {% if isNewYear %} pb-4 {% else %} py-4 {% endif %}
        {% if postslistYears === 'off' %} py-6 {% endif %}
        {% if not post.data.description %} pb-8 {% endif %}">
      {% include 'components/post-teaser.njk' %}
    </li>
  {% endfor %}
{% if postslistYears === 'off' %}
</ol>
{% endif %}
