---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<article>
  <h1>TJ Fogarty</h1>
  <p>Senior Software Engineer @ Teamwork</p>

  <h2>Latest 3 Posts</h2>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistYears = 'off' %}
  {% include "postslist.njk" %}

  <p>More posts can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>
</article>
