.c-button {
  background: var(--accent-2);
  border-color: var(--accent-2);
  color: oklch(0.22 0.04 40);
  padding: 10px 20px;
  font-size: 13px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #fff;
  }
}