.c-content {
  position: relative;
  z-index: 1;
  padding: 1em;
  background-color: #fff;
  max-width: 1000px;
  width: 100%;

  @media (min-width: 700px) {
    border-radius: 10px;
    padding: 3em;
  }

  picture {
    margin-bottom: 2rem;
  }
}
