.c-section {
  margin-bottom: 3em;
}

.c-section__heading {
  display: inline-block;
  align-items: center;
  margin-bottom: 16px;
  font-size: 11px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--ink);
  border: 1px solid var(--ink);
  padding: 12px;
  background: var(--bg);
}

.c-section__cta {
  margin: 2em 0;

  @media (max-width: 700px) {
    margin: 1em 0;
  }
}