.c-teaser {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.c-teaser__title {
    margin-bottom: 0.5em;
}

.c-teaser__link {
    display: block;
    text-decoration: none;
    color: var(--colour-primary);
}

.c-teaser__link:hover,
.c-teaser__link:focus {
    color: var(--colour-links);
}

.c-teaser__meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2em;
    background-color: #fff;
}

.c-teaser__img-container {
    position: relative;
    height: 210px;
    overflow: hidden;
}

.c-teaser img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.c-teaser__description {
    margin-bottom: 1em;
}

.c-teaser__date {
    margin-top: auto;
    font-size: 0.8em;
}

@media (min-width: 800px) {
  .c-teaser--large {
    flex-direction: row;
    flex-wrap: no-wrap;
  }

  .c-teaser--large .c-teaser__link {
    width: 100%;
    height: auto;
  }

  .c-teaser--large .c-teaser__img-container {
    min-height: 350px;
    height: 100%;
  }

  .c-teaser--large .c-teaser__meta {
    width: 35%;
    flex-shrink: 0;
  }

  .c-teaser--large .c-teaser__title {
    font-size: calc(var(--scale) * 1.3em);
  }
}
