<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="canonical" href="{{ page.url | url }}"/>

    <!-- Made with https://formito.com/tools/favicon -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23ffc75f%22></rect><path d=%22M18.13 19.21L62.11 19.21L61.26 25.88L43.29 25.88L36.66 80.11L28.75 80.11L35.38 25.88L17.32 25.88L18.13 19.21ZM82.68 19.21L77.71 59.92Q76.48 70.04 71.40 75.41Q66.32 80.79 57.91 80.79L57.91 80.79Q55.61 80.79 53.61 80.49Q51.62 80.20 49.58 79.60L49.58 79.60L50.17 74.97Q50.26 74.33 50.66 73.86Q51.06 73.40 51.91 73.40L51.91 73.40Q52.34 73.40 52.89 73.50Q53.44 73.61 54.14 73.76Q54.85 73.91 55.76 74.01Q56.67 74.12 57.86 74.12L57.86 74.12Q60.07 74.12 62.03 73.40Q63.98 72.67 65.56 71.02Q67.13 69.36 68.21 66.68Q69.30 64.00 69.76 60.09L69.76 60.09L74.74 19.21L82.68 19.21Z%22 fill=%22%23121c2e%22></path></svg>"/>

    <link rel="me" href="mailto:contact@tj.ie">
    <link rel="me" href="https://github.com/tjFogarty">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    <link rel="webmention" href="https://webmention.io/tj.ie/webmention"/>
    <link rel="pingback" href="https://webmention.io/tj.ie/xmlrpc"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}"/>
    <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}"/>
    <meta name="twitter:site" content="@tj_fogarty"/>
    <meta name="twitter:creator" content="@tj_fogarty"/>

    <!-- OG data -->
    <meta property="og:locale" content="en_IE"/>
    <meta property="og:type" content="article"/>
    <meta content="{{ renderData.title or title or metadata.title }}" property="og:title">
    <meta content="{{ renderData.description or description or metadata.description }}" property="og:description">
    <meta property="og:url" content="{{ page.url | url }}"/>
    <meta property="og:site_name" content="TJ Fogarty - Web Developer"/>
    {% for tag in post.data.tags %}
      <meta property="article:section" content="{{ tag }}"/>
    {% endfor %}
    {% if page.date %}
      <meta property="article:published_time" content="{{ page.date }}"/>
    {% endif %}
    {% if cover_image %}
      <meta property="og:image" content="https://res.cloudinary.com/dab4jaczr/image/upload/w_1200,f_auto,q_auto/v1536498344/{{ cover_image }}">
    {% endif %}

    {% set css %}
    :root { --heading-font: 'DM Serif Display', Georgia, serif; --body-font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; --code-font: Consolas,Monaco, "Andale Mono", "Ubuntu Mono", monospace; }
    {% include "../../assets/css/base.reset.css" %}
    {% include "../../assets/css/base.fonts.css" %}
    {% include "../../assets/css/base.variables.css" %}
    {% include "../../assets/css/base.body.css" %}
    {% include "../../assets/css/base.type.css" %}
    {% include "../../assets/css/base.article.css" %}
    {% include "../../assets/css/base.iframe.css" %}
    {% include "../../assets/css/base.blockquote.css" %}
    {% include "../../assets/css/code.css" %}
    {% include "../../assets/css/layout.container.css" %}
    {% include "../../assets/css/component.post.css" %}
    {% include "../../assets/css/component.post-list.css" %}
    {% include "../../assets/css/component.post-tease.css" %}
    {% include "../../assets/css/component.hero.css" %}
    {% include "../../assets/css/component.nav.css" %}
    {% include "../../assets/css/component.tag-list.css" %}
    {% include "../../assets/css/component.footer.css" %}
    {% endset %}

    <style>
      {{css | cssmin | safe}}
    </style>

    <link rel="preload" as="script" href="/assets/js/instant-page.js" crossorigin="crossorigin"/>
  </head>
  <body>
    <header>
      {% include "components/navigation.njk" %}
    </header>

    <main{% if templateclass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>

    <footer class="footer">
      &copy; TJ Fogarty
    </footer>

    <script type="module" src="/assets/js/instant-page.js"></script>
  </body>
</html>
