---
layout: layouts/base.njk
templateClass: tmpl-photo
---

<div class="container">
  <article>
    <h1 class="mb-10 mt-5">{{ title }}</h1>

    <figure>
    {% photolarge image, "" %}
    <figcaption class="text-sm text-center mt-5">{{ description }}</figcaption>
    </figure>
  </article>
</div>

{% if header %}
  {% include 'components/header/' + header + '.njk' %}
{% endif %}