---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% if header %}
  {% include 'components/header/' + header + '.njk' %}
{% endif %}

<article class="post">
  <div class="container">
    {% if date %}
    <time class="post__date" datetime="{{ date | htmlDateString }}">
      {{ date | readableDate }}
    </time>
    {% endif %}

    <h1>{{ title }}</h1>

    <div class="container__text">
      {{ content | safe }}
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="single-tag" aria-label="See all {{ tag }} posts">
          {{ tag }}
        </a>
        {%- endif -%}
      {% endfor %}

      <p><a href="{{ '/' | url }}">← Home</a></p>
    </div>
  </div>


</article>
