---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article role="article" aria-labelledby="post-title">
  <div class="o-wrapper">
    <div class="c-post">
      <header>
        {% if tags and tags.length > 0 %}
            <div class="c-post__category" role="list">
              {% for tag in tags %}
                {%- if collections.tagList.indexOf(tag) != -1 -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                  <div role="listitem">
                    <a href="{{ tagUrl | url }}"
                       aria-label="View all posts tagged with {{ tag }}">{{ tag }}</a>
                  </div>
                {%- endif -%}
              {% endfor %}
            </div>
        {% endif %}
        <h1 id="post-title" class="c-post__title">
          <span>{% glitchText title %}</span>
        </h1>

        {% if description %}
        <p class="c-post__description">{{ description }}</p>
        {% endif %}
        <div class="c-post__meta">
          {% if date %}
          <time datetime="{{ date | htmlDateString }}">
            <span class="sr-only">Published on </span>{{ date | readableDate }}
          </time>
          {% endif %}

          <span>{{ content | readTime }}</span>
        </div>
      </header>
      <div role="main">
        {{ content | safe }}
      </div>
    </div>
  </div>
</article>
