<div class="nav">
  <a href="{{ '/' | url }}">TJ Fogarty</a>
  <ul class="nav__list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav__item">
          <a class="nav__link{% if entry.url == page.url %} is-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
</div>
