{% set level = hlevel or '2' %}

<a href="{{ post.url | url }}" class="post-tease">
  <time datetime="{{ post.date | htmlDateString }}" class="post-tease__date">
    {{ post.date | readableDate }}
  </time>

  <h{{ level }} class="post-tease__title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h{{ level }}>

  {% if post.data.description %}
  <p class="post-tease__description">{{ post.data.description }}</p>
  {% endif %}
</a>
