{% set level = hlevel or '2' %}

<a href="{{ post.url | url }}" class="inline-block group">
  <time datetime="{{ post.date | htmlDateString }}" class="text-sm text-gray-600 group-hover:text-gray-600">
    {{ post.date | readableDate }}
  </time>

  <h{{ level }} class="mb-1">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h{{ level }}>

  {% if post.data.description %}
  <p class="group-hover:text-black ">{{ post.data.description }}</p>
  {% endif %}
</a>
