body {
  font-family: var(--body-font);
  background-color: var(--c-background);
  color: var(--c-text);
  -webkit-font-smoothing: subpixel-antialiased;
}

::selection {
  background-color: var(--c-accent);
  color: var(--c-background);
}
