.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--size--2);
  margin-bottom: var(--size--7);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  margin-left: var(--size--2);
}

.nav__link.is-active {
  color: var(--c-accent);
}

@media (max-width: 422px) {
  .nav__link {
    margin-left: var(--size--1);
  }
}

@media (max-width: 384px) {
  .nav {
    display: block;
    text-align: center;
  }
}