.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--size--2);
  margin-bottom: var(--size--7);
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--size--3);
  background-color: rgba(18, 28, 46, 0.6);
  backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.2s;
}

@media (prefers-reduced-motion) {
  .nav__overlay {
    transition: none;
  }
}

.nav-open .nav__overlay {
  opacity: 1;
  pointer-events: auto;
}

.nav__overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--size--4);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--c-text);
}

.nav__overlay-close:focus,
.nav__overlay-close:hover {
  color: var(--c-accent);
}

.no-js .nav__button {
  display: none;
}

.nav__button {
  background-color: transparent;
  border: 0;
  color: var(--c-text);
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item:nth-child(1) {
  font-family: var(--heading-font);
}

.nav__item:nth-child(3) {
  font-style: italic;
  text-transform: lowercase;
  font-family: var(--code-font);
}

.nav__link {
  font-size: var(--size--7);
  text-decoration: none;
}

.nav__link.is-active {
  color: var(--c-accent);
}

