.post-list {
  list-style: none;
  padding: 0;
  margin-top: var(--size--6);
}

.post-list__item {
  padding: var(--size--4) 0;
  border-top: 1px dashed var(--accent-50);
}

.post-list__item:last-child {
  border-bottom: 1px dashed var(--accent-50);
  padding-bottom: var(--size--4);
}

.post-list--year-container {
  display: flex;
  position: relative;
}

.post-list--year-container .post-list .post-list__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.post-list__year {
  position: sticky;
  margin: var(--size--3) var(--size--1) 0 0;
  font-size: var(--size--3);
  top: var(--size--1);
  color: var(--accent-75);
}

@media (min-width: 1120px) {
  .post-list__year-column {
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
  }
}

@media (max-width: 650px) {
  .post-list__year {
    position: static;
  }

  .post-list--year-container {
    display: block;
  }
}
