.post__date {
  color: var(--clr-50);
}

.post__title {
  font-size: var(--size--6);
}

.direct-link {
  color: var(--clr-20);
  text-decoration: none;
}

.post .container__text {
  margin-top: var(--size--3);
}

@media (min-width: 1000px) {
  .direct-link {
    position: absolute;
    transform: translateX(-150%);
  }
}
