.c-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: var(--size-l1);
  justify-content: space-between;
}

.c-nav__item {
  margin-left: var(--size-l1);
}

.c-nav__item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.c-nav__item.is-active a {
  color: var(--accent-color);
  text-decoration: underline solid var(--color);
}
