.c-post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-post-list__sticky {
  position: sticky;
  top: 0;
  background-color: var(--body-bg);
}

.c-post-list__item {
  margin-bottom: var(--size-l3);
}

.c-post-list__item-title {
  display: block;
  font-size: var(--size-l3);
}

.c-post-list__item-date {
  display: block;
  font-size: var(--size-s1);
}
