---
layout: layouts/photo.njk
title: "Cats and Laundry"
description: "Cats Loki and Ares. Loki sits in her bed and watches Ares standing on a bedsheet on the clothes horse."
image: cats-laundry.jpeg
permalink: /photos/cats-laundry/
---