---
layout: layouts/photo.njk
title: "Foster Kitten"
description: "This is Minnie, a foster tabby kitten we had for a few weeks. She was quite the poser and sat still for the camera."
image: foster-kitten.jpeg
permalink: /photos/foster-kitten/
---