---
layout: layouts/home.njk
permalink: /photos/
templateClass: tmpl-photo
eleventyNavigation:
  key: Photos
  order: 2
---


<article class="container">
  <h1 class="mb-10 mt-5">Photos</h1>

  {% set list = collections.photos %}

  <ul class="grid grid-cols-2 md:grid-cols-3 gap-5 md:gap-12 photo-page">
  {% for photo in list %}
  {% if photo.data.image %}
    <li>
      <a href="{{ photo.url }}" class="block">
        <div class="thumbnail-container drop-shadow-lg aspect-square">
          {% photo photo.data.image, photo.data.description %}
        </div>
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
</article>