---
layout: layouts/photo.njk
title: "Killarney"
description: "A lake in Killarney at the Europe Hotel with hills in the background. The water is clear and still."
image: killarney.jpeg
permalink: /photos/killarney/
---