---
layout: layouts/photo.njk
title: "Scatter"
description: "A number of birds take flight from a hedge, you can see some with their wings outstretched."
image: scatter.jpeg
permalink: /photos/scatter/
---