<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" id="checkmark" class="svg-check" viewBox="0 0 307 307" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
  <path class="svg-check__base" d="M306.189 76.55C306.189 34.3 271.89 0 229.642 0H76.547C34.3 0 0 34.3 0 76.55v153.09c0 42.25 34.3 76.55 76.547 76.55h153.095c42.248 0 76.547-34.3 76.547-76.55V76.55z" fill="var(--c-accent)"/>
  <g class="svg-check__checkmark">
    <path fill="#fff" d="M78.642 130.625l81.89 82.02-34.096 34.042-81.89-82.02z"/>
    <path fill="#fff" d="M268.165 104.216l-108.8 108.697-34.053-34.086 108.8-108.696z"/>
  </g>
</svg>

<style>
  .checkmark-header {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
  }

  .checkmark-header__svg {
    opacity: 0;
    animation: reveal-checkbox ease 0.5s forwards;
  }

  @keyframes reveal-checkbox {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
  }
</style>

{% set sizes = range(25, 45) %}
{% set positions = range(0, 100) %}

<div class="checkmark-header" aria-hidden="true">
  {% for i in range(0, 15) %}

  {% set size %} {{ sizes | random }}{% endset %}
  {% set top %} {{ positions | random }}{% endset %}
  {% set left %} {{ positions | random }}{% endset %}

  <svg class="checkmark-header__svg" viewBox="0 0 100 100" width="{{ size | trim }}" height="{{ size | trim }}" style="position: absolute; top: {{ top | trim }}%; left: {{ left | trim }}%; animation-delay: 0.{{ i }}s">
    <use xlink:href="#checkmark"></use>
  </svg>
  {% endfor %}
</div>
