<script defer>
(() => {
  function addPlaceholderHeading() {
    const heading = document.querySelector('h1');

    heading.innerHTML = heading.textContent.replace('Placeholder', '<span class="placeholder-text text-gray-400 decoration-2 decoration-gray-600">Placeholder</span>');
  }

  addPlaceholderHeading();
})();
</script>

<style>
.placeholder-text {
  border-left-width: 3px;
  text-decoration: underline;
  text-decoration-color: #777;
  animation: placeholder ease 1.5s infinite;
}

@keyframes placeholder {
  0% { border-left-color: transparent; }
  50% { border-left-color: #0087e2; }
  100% { border-left-color: transparent; }
}
</style>
