---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="c-article">
  {% if date %}
  <time class="c-article__meta" datetime="{{ date | htmlDateString }}">
    {{ date | readableDate }}
  </time>
  {% endif %}

  <h1>{{ title }}</h1>

  {{ content | safe }}

  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
