---
layout: layouts/home.njk
permalink: /archive/
eleventyNavigation:
  key: Archive
  order: 2
---

<article class="container">
  <h1 class="mb-10 mt-5">Archive</h1>

  {% set postslist = collections.posts %}
  {% set hlevel = '3' %}
  {% include "postslist.njk" %}
</article>
