---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<article>
  <div class="flex items-center bg-slate-800 text-white min-h-[450px]">
    <div class="container">
      <h1 class="text-5xl font-extrabold mb-4">I'm TJ</h1>
      <p class="text-2xl">
        A <strong class="text-rose-400">Front-End Software Engineer</strong> building performant and accessible solutions. <br>
        Specialising in JavaScript with React and Vue.
      </p>
    </div>
  </div>

  <div class="py-10 bg-slate-100">
    <div class="container">
      <h2 class="mb-8">Recent Posts</h2>

      {% set postslist = collections.posts | head(-3) %}
      {% set hlevel = '3' %}
      <ol class="mb-8">
        {% for post in postslist | reverse %}
        <li class="mb-5">
          {% include 'components/post-teaser.njk' %}
        </li>
        {% endfor %}
      </ol>

      <p>More posts can be found in <a href="{{ '/archive/' | url }}" class="decoration-rose-600 underline">the archive</a>.</p>
    </div>
  </div>

  <div class="bg-slate-600 py-10 text-white">
    <div class="container">
      <h2 class="mb-8">Photos</h2>

      {% set photolist = collections.photos | head(-8) %}
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 md:gap-12">
      {% for photo in photolist %}
        {% if photo.data.image %}
          <li>
            <a href="{{ photo.url }}" class="block">
              <div class="thumbnail-container drop-shadow-xl aspect-square">
                {% photo photo.data.image, photo.data.description %}
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
    

</article>
