---
permalink: /tags/
layout: layouts/home.njk
---

<article class="container">
  <h1>Tags</h1>

  <ul class="tag-list">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li class="tag-list__item"><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>
</article>
