---
permalink: /tags/
layout: layouts/home.njk
---

<article class="container mx-auto prose">
  <h1>Tags</h1>

  <ul class="flex flex-wrap gap-3 list-none p-0">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li class="m-0 p-0"><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>
</article>
