---
permalink: /tags/
layout: layouts/home.njk
---

<article>
  <h1>Tags</h1>

  <ul>
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>
  {% endfor %}
  </ul>
</article>
