---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<article class="container mx-auto">
  <h1 class="text-5xl mb-8">Tagged “{{ tag }}”</h1>

  {% set postslistYears = 'off' %}
  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</article>
